{
  "branches": ["main"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          { "type": "chore", "scope": "deps", "release": "patch" }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "app-build.apk", "label": "App APK" },
          { "path": "app-build.aab", "label": "App AAB" }
        ]
      }
    ]
  ]
}
