{
  "branches": ["main"],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"type": "build", "scope": "deps", "release": "minor"}
      ]
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}